permissive kernel;
permissive untrusted_app;
permissive platform_app;
permissive system_app;
permissive untrusted_app_25;
permissive system_server;
permissive zygote_exec;
permissive zygote;