on early-init
    write /sys/class/net/ccmni0/queues/rx-0/rps_cpus "3ff"
    write /sys/class/net/ccmni1/queues/rx-0/rps_cpus "3ff"
    write /sys/class/net/ccmni2/queues/rx-0/rps_cpus "3ff"
    write /sys/class/net/ccmni0/queues/rx-0/rps_flow_cnt "1000"
    write /sys/class/net/ccmni1/queues/rx-0/rps_flow_cnt "1000"
    write /sys/class/net/ccmni2/queues/rx-0/rps_flow_cnt "1000"
    setprop net.perf.tether.rps 00f
    setprop net.perf.rps.default 3ff
    setprop net.perf.tether.cpu.core 4,4,0,0,0,0
    setprop net.perf.tether.cpu.freq 1118000,1391000,0,0,0,0
    setprop net.perf.internal.cpu.core 4,4,0,0,0,0
    setprop net.perf.internal.cpu.freq -1,-1,-1,-1,-1,-1

on post-fs-data
    # Modem related device nodes
    mkdir /data/nvram/md 0770 root system
    mkdir /data/nvram/md3 0770 root system
    mkdir /data/md3 0770 root system

    chown radio radio /sys/kernel/ccci/boot

    # SELinux
    mkdir /data/ccci_cfg 0770 system radio
    restorecon /data/ccci_cfg
    restorecon_recursive /protect_f
    restorecon_recursive /protect_s

    # ignore permission check
    write /data/ccci_cfg/md_new_ver.1 "flag"
    chmod 0660 /data/ccci_cfg/md_new_ver.1

    setprop vold.post_fs_data_done 1
